<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Finance Tracker{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('add_income') }}">Add Income</a></li>
          <li><a href="{{ url_for('add_expense') }}">Add Expense</a></li>
          <li><a href="{{ url_for('view_transactions') }}">View Transactions</a></li>
          <li><a href="{{ url_for('view_categories') }}">View Categories</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>&copy; Finance Tracker by Yash Mittal</p>
    </footer>
    <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
  </body>
</html>
