{% extends "base.html" %}
{% block content %}
  <h1>All Transactions</h1>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.category.name }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
